*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    width: 100%;
    /*background-color: black;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;*/
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url(1.jpg);
    background-position:center;
    background-size: cover;
    height: 100vh;
    position: absolute;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
 
}

.nav{
    flex: 1;
    text-align: right;
}

 nav ul{
    display: inline-block;
    list-style: none;
 }

 nav ul li{
    display: inline-block;
    margin-right: 70px;

 }
 nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
 }

 nav ul li button{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
 }

 nav ul li button:hover{
    color: green;
}

nav ul li a:hover{
    color: green;
}

a{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

.logo{
    color: beige;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
#login-form{
    display: none;
}

.form-box{
    
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background:rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;

}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: beige;
    border-radius: 30px;
    transition: .5s;
}

.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:#F3C693;
    border: 0;
    outline: one;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 34px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#login input{
    color:white;
    font-size: 15;
}

#register{
    left: 450px;
}

#register-input{
    color: white;
    font-size: 15;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: black;
    border: 1px solid white;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}


/*






.icon{
    width:200px;
    float:left;
    height:70px;

}
.header{
    width : 85%;
    height: 95%;
    border: 1px solid white;
    display: flex;

}
header.menu_side, .song_side{
    position: relative;
    width: 25%;
    height: 90%;
    border: 1px solid white;
}

.main{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items:center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}





.btn{
    width: 100px;
    height: 40px;
    background:green;
    border: 2px solid beige;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn:focus{
    outline:none;
}

.srch:focus{
    outline:none;
}
<li><a href="#">Sign Up</a></li>
<li><a href="#">Log In</a></li>
<li><a href="#">Help</a></li>



*/
